.container{
    padding: 32px;
}

.table{
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td{
    border: 1px solid #ddd;
    padding: 12px;
}

.table th {
  background-color: #ddd;
  text-align: left;
 
}

.btnExcluir{
    border: none;
    width: 80px;
    margin: 10px;
    background-image: linear-gradient(#E6CA7F, #D4AA7D);
    color: black;
    border-radius: 40px;
    transition: 0.4s;
}

.btnExcluir:hover{
    transform: scale(1.05);
    transition: 0.4s;
}