.container{
    padding: 32px;
    width: 100%;
    box-sizing: border-box;
}

.table{
    width: 100%;
    border-collapse: collapse;
}

.tableContainer {
    width: 100%;
    overflow-x: auto; 
    margin-top: 1rem;
    border-radius: 8px;
    border: 1px solid #eee; 
}

.table th,
.table td{
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
   
   
}

.table th {
  background-color: #ddd;
  text-align: left;
 
}

.btnExcluir{
    border: none;
    width: 80px;
    height: 40px;
    margin: 2px;
    background-image: linear-gradient(#E6CA7F, #D4AA7D);
    color: black;
    border-radius: 40px;
    transition: 0.4s;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btnExcluir:hover{
    transform: scale(1.05);
    transition: 0.4s;
}

                            /*RESPONSSIVO*/

/*notbook*/
@media (max-width: 1024px) {
    .container {
        padding: 20px;
    }
    
    .table th, .table td {
        padding: 10px; 

    }
}

/*mobile*/
@media (max-width: 768px) {
    .container {
        padding: 12px;
    }

   
    .table-container {
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .table {
        min-width: 800px; 
    }

    .table th, .table td {
        padding: 10px 8px;
        font-size: 14px;
         white-space: nowrap;  
    } 

    .btnExcluir {
        width: 70px; 
        height: 35px;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .table th, .table td {
        padding: 8px;
        font-size: 13px; 
    }

    .btnExcluir:hover {
        transform: none;
    }
}