.container{
    padding: 32px;
}

.table{
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td{
    border: 1px solid #ddd;
    padding: 12px;
}

.table th {
  background-color: #ddd;
  text-align: left;
 
}