.container {
  max-width: 900px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  padding: 32px;
  margin: 32px;
 
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.table { 
  width: 100%;
  border-collapse: collapse;
  margin: 16px 0;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  
}

.table th {
  background: #f5f5f5;
}

.cancelButton {
  width: 150px;
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0px 0px 10px #e74c3c50;
  transition: 0.4s;
}

.cancelButton:hover {
  background-color: #c0392b;
  box-shadow: 0px 0px 15px #e74c3c80;
  transform: scale(1.05);
  transition: 0.4s;
}

.buttons{
  display: flex;
  justify-content: space-between;
}


.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: #fff;
  width: 210mm; /* tamanho A4 */
  max-height: 90vh;
  overflow-y: auto;
  padding: 16px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 16px;
}

.danfeButton{
  background-color: #D4AA7D;
  color: white;
  border: none;
  width: 150px;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0px 0px 10px #D4AA7D50;
  transition: 0.4s;
}

.danfeButton:hover {
  background-image: linear-gradient(#D4A97D, #E6CA7F);
  box-shadow: 0px 0px 15px #D4AA7D80;
  transform: scale(1.05);
}

.fechar, .gerar{
  background-color: #D4AA7D;
  color: white;
  border: none;
  width: 150px;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0px 0px 10px #D4AA7D;
  transition: 0.4s;
  
}

.fechar:hover, .gerar:hover {
  background-color: #c08a5d;
  box-shadow: 0px 0px 15px #D4AA7D80;
  transform: scale(1.05);
}