.container {
  max-width: 900px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  padding: 32px;
  margin: 32px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 16px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  
}

.table th {
  background: #f5f5f5;
}

.cancelButton {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0px 0px 10px #e74c3c50;
  transition: 0.4s;
}

.cancelButton:hover {
  background-color: #c0392b;
  box-shadow: 0px 0px 15px #e74c3c80;
  transform: scale(1.05);
  transition: 0.4s;
}


