.container {
  max-width: 900px;
  margin: auto;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background: #f5f5f5;

}
