.form {
  width: auto;
  height: auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.329);
  padding: 16px;
 
  
  border-radius: 6px;
}

.row {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

textarea{
  width: 595px;
}

input, select, button {
  padding: 10px;
  margin:  10px 10px 10px 0px;
}


.emitir, .adicionarItem {
    background-image: linear-gradient(#D4A97D);
    border: none;
    color: #091519 ;
    padding: 10px 25px;
    border-radius: 40px;
    transition: 0.3s;
}

.emitir:hover, .adicionarItem:hover{
     transform: scale(1.1);
    transition: 0.3s;
    background-image: linear-gradient(#D4A97D, #E6CA7F);
}