.form {
  width: auto;
  height: auto;
  border: 1px solid #ddd;
  padding: 16px;
  margin-bottom: 24px;
  border-radius: 6px;
}

.row {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

input, select, button {
  padding: 10px;
  margin:  10px 10px 10px 0px;
}


button {
    background-image: linear-gradient(#D4A97D);
    border: none;
    color: #091519 ;
    padding: 10px 25px;
    border-radius: 40px;
    transition: 0.3s;
}

button:hover{
     transform: scale(1.1);
    transition: 0.3s;
    background-image: linear-gradient(#D4A97D, #E6CA7F);
}