.header {
    padding: 1rem 2%;
    background-color: #091519;
    color: #fff;
    min-height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow: hidden;
}

.transparent {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.menu {
    font-size: 1.3rem;
    display: flex;
    gap: 80px;
    align-items: center;
}

.menu a {
    display: flex;
    align-items: center;
    gap: 8px;
}

.about,
.nota,
.clientes,
.relatorios,
.home {
    font-weight: bolder;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.about:hover,
.nota:hover,
.clientes:hover,
.home:hover  {
    color: #D4A97D;
    transition: 0.5s;
    background-color: #0e2025;
    padding: 15px;
    border-radius: 40px;

}

.relatorios {
    background-image: linear-gradient(#D4A97D);
    color: #091519;
    padding: 10px 25px;
    border-radius: 40px;
    transition: 0.3s;
}

.relatorios:hover {
    transform: scale(1.1);
    transition: 0.3s;
    background-image: linear-gradient(#D4A97D, #E6CA7F);

}

.left {
    display: flex;
    gap: 3rem;
}

.logo {
    height: 60px;
    width: auto;
    transform: scale(4.3);
    padding-right: 15px;
   

}

/* telas extragrandes para não esparramar*/
@media (min-width: 1920px) {
    .container {
        max-width: 1600px;
        margin: 0 auto;
    }
}


/*notebooks*/
@media (max-width: 1440px) {
    .header {
        flex-direction: column-reverse;
        padding: 2rem 3rem;
        height: auto;
    }

    .header h1 {
        font-size: 34px;
    }

    .menu {
        gap: 20px;
        display: flex;
        align-items: end;
        flex-direction: row;
    }
     .logo{
        transform: scale(1.8);
        contain: cover;
        padding-left: 15px;
        
    }

    
   
}


/*tablets*/
@media (max-width: 1280px) {
    .menu {
        gap: 30px;
    }

    .cards {
        gap: 15px;
    }
}

/*celulares*/
@media (max-width: 768px) {
    .header {
        padding: 1.5rem 1rem;
        flex-direction: column-reverse;
        min-height: auto;
        gap: 25px;
        text-align: center;
    }

    .menu {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1.2rem;
    }

    .left {
        gap: 1rem;
        align-items: center;
    }
    .logo{
        transform: scale(3.2);
        padding-left: 15px;
        
    }
   


    .relatorios {
        padding: 8px 15px;
        font-size: 0.9rem;
    }

}

/*celulares extra pequenos */
@media (max-width: 320px) {
    .header h1 {
        font-size: 20px;
    }

    .relatorios {
        padding: 6px 12px;
        font-size: 12px;
    }

    .menu {
        flex-direction: column;
        gap: 10px;
    }
}