
.header{
    padding: 4rem 0 1rem 4rem;
    background-color: #091519 ;
    color: #fff;
    height: 120px;


    display: flex;
    align-items: end;
    justify-content: space-between;
    
    
}

.menu{
    font-size: 1.3rem;
    gap: 2rem;

    display: flex;
    gap: 60px;
    align-items: center;
    
    

   
   
}

.nota, .clientes, .relatorios{
    font-weight: bolder;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.nota:hover, .clientes:hover{
    color: #D4A97D;
    transition: 0.5s;
    border-bottom: 2px solid #D4A97D;
   
}

.relatorios{
    background-image: linear-gradient(#D4A97D);
    color: #091519;
    padding: 10px 25px;
    border-radius: 40px;
    transition: 0.3s;
}

.relatorios:hover{
    transform: scale(1.1);
    transition: 0.3s;
    background-image: linear-gradient(#D4A97D, #E6CA7F);

}

.left {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}



.home{
    font-weight: bolder;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.home:hover{
    color: #D4A97D;
    transition: 0.5s;
    border-bottom: 2px solid #D4A97D;
}


img{
    width: 200px;
    contain: cover;
}