.overlay {
  position: fixed;
  inset: 0;
  background: #091519 ;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.barContainer {
  width: 260px;
  height: 4px;
  background: #e5e7eb;
  border-radius: 999px;
  overflow: hidden;
}

.bar {
  width: 40%;
  height: 100%;
  background: linear-gradient(90deg, #D4A97D, #E6CA7F); 
  animation: loading 1.1s infinite ease-in-out;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(150%);
  }
}