.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding-top: 20px;
  gap: 26px;
  margin-bottom: 32px;
}


.card {
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.267);
  transition: 0.4s;
  
  
}

.card:hover {
  background-image:linear-gradient(#E6CA7F, #D4AA7D) ;
  transform: scale(1.05);
  transition: 0.4s;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.521);
  
  
}


.card span {
  font-size: 0.85rem;
  color: #666;
}


.card strong {
  display: block;
  margin-top: 8px;
  font-size: 1.5rem;
  color: #111;
}

.resumos {
  color: #E6CA7F;
}

.porCliente h2 {
  color: #091519;
}

.porCliente ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 12px 0px 12px 0px;
  padding-bottom: 15px;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #E6CA7F, #D4AA7D, transparent) 1;
}




.filtro {
  display: flex;
  gap: 16px;
  align-items: flex-end;
  margin-bottom: 24px;
}

.filtro label {
  font-size: 0.8rem;
  color: #555;
}

.filtro input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.filtro button {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background: #E6CA7F;
  color: #091519;
  cursor: pointer;
  transition: 0.4s;
}


.filtro button:hover {
  background-image: linear-gradient(#D4AA7D, #E6CA7F);
  transform: scale(1.05);
  transition: 0.4s;

}

.limpar {
  width: 100px;
  height: 35px;
  background: #E6CA7F;
  color: #091519;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
}

.limpar:hover {
  background-image: linear-gradient(#D4AA7D, #E6CA7F);
  transform: scale(1.05);
  transition: 0.4s;
}


.porClient {
  padding-top: 20px;
}

.tabela {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 20px;
}

.tabela th {
  text-align: left;
  padding: 12px;
  background: #E6CA7F;
  font-size: 0.85rem;
}

.tabela td {
  padding: 12px;
  border-top: 1px solid #eee;
}

.tabela tr:hover {
  background: #fafafa;
}