.container {
  padding: 32px;
  width: 90vw;

}

.header {
  margin-bottom: 32px;
}

.header h1 {
  font-size: 40px;
  margin-bottom: 8px;
}

.header h2 {
  font-size: 24px;
  color: #1f2937;
  margin-bottom: 4px;
  border-bottom: 3px solid #bdbdbd;

}

.header p {
  color: #666;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

}

.card {
  background: #fff;
  border-radius: 12px;
  padding: 24px;
  text-decoration: none;
  color: #1f2937;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  transition: all 0.25s ease;
  border: 1px solid #f1f1f1;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 30px #74737381;

}

.icon {
  font-size: 32px;
  margin-bottom: 12px;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 6px;

}

.card p {
  font-size: 14px;
  color: #666;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-top: 24px;
}

.grafico {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

.graficoToggle {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

.graficoToggle button {
  background-image: linear-gradient(#D4A97D);
  color: #091519;
  padding: 10px 25px;
  border-radius: 40px;
  transition: 0.3s;
  border: none;
}

.graficoToggle button:hover {
  transform: scale(1.1);
  transition: 0.3s;
  background-image: linear-gradient(#D4A97D, #E6CA7F);
}








@media (max-width: 900px) {
  .dashboard {
    grid-template-columns: 1fr;
  }
}