.container {
  padding: 32px;
}

.header {
  margin-bottom: 32px;
}

.header h1 {
  font-size: 28px;
  margin-bottom: 8px;
 
}

.header p {
  color: #666;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 20px;
}

.card {
  background: #ffffff;
  border-radius: 12px;
  padding: 24px;
  text-decoration: none;
  color: #1f2937;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  transition: all 0.25s ease;
  border: 1px solid #f1f1f1;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 30px #d4aa7d36 ;
  
}

.icon {
  font-size: 32px;
  margin-bottom: 12px;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 6px;
}

.card p {
  font-size: 14px;
  color: #6b7280;
}
