/*
colors 
#091519 verde escuro
#D4AA7D dourado claro, #E6CA7F parte mais clara para gradient
#FFFFFF fundo
fonts
*/

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

div{
       font-family: "Kumbh Sans", sans-serif;
}

*{
       margin: 0;
       padding: 0;
}